html,
body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.form-container {
    margin: 2em 1em;
    display: grid;
    grid-template-columns: minmax(3rem, 2fr) minmax(6rem, 5fr) minmax(min-content, 4fr);
    gap: 1.5em;
}

.seed-color-input {
    width: 100%;
    height: 100%;
}

.form-dropdown-input,
.submit-btn {
    padding: .75em 1.75em;
}

.form-dropdown-input {
    font-size: 1rem;
}

.submit-btn {
    cursor: pointer;
    font-size: .95rem;
    background-color: white;
    border: 1px solid black;
}

.color-scheme-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.color-display {
    height: 75vh;
}

.text-value-color-btn {
    cursor: pointer;
    padding: 1.5em 0.5em;
    width: 100%;
    font-size: 1.15rem;
    background-color: white;
    border: none;
    letter-spacing: 1px;
    font-weight: bold;
}

.text-value-color-btn:hover,
.text-value-color-btn:focus {
    font-size: 1.25rem;
}


.clipboard-alert-text {
    position: fixed;
    bottom: 0.25em;
    left: 50%;
    transform: translate(-50%);
    background-color: black;
    color: white;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding: 1em 2em;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.clipboard-alert-text.show {
    opacity: 1;
    visibility: visible;
}