main {
    padding: 1em;
}

.article-link-container {
    text-decoration: none;
}

.featured-article-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1em;
    padding: 4em;
    background-image: url("../images/featured-article-photo.jpeg");
    background-size: cover;
    color: white;
    height: 50%;
}

.featured-article-date {
    margin-top: 0;
    margin-bottom: 0;
}

.featured-article-header {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
}

.featured-article-summary {
    margin-top: 0;
    font-size: 0.85rem;
}


@media only screen and (min-width: 768px) {
    .featured-article-container {
        height: 55vh;
    }
}