main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.connect-apps-list {
    padding-left: 0;
    list-style: none;
    border: solid 2px gray;
    border-radius: 5px;
    padding: 2em 3.5em;
}

li {
    text-align: center;
}

.connect-link {
    text-decoration: none;
    font-size: 1.5rem;
}

#fitbit-status {
    font-size: 1.15rem;
}