* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #242424;
}

main {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    gap: 1%;
}


/* Layout */

.layout-col {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.left-col {
    justify-content: space-around;
}

.mid-col {
    justify-content: space-around;
}

.right-col {
    justify-content: center;
}

/* Title section */

.app-title {
    font-size: 2.75rem;
}

/* Moon section */ 

.moon-section {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.moon-container {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #333;
    overflow: hidden;
    box-shadow: 
        0 0 30px rgba(255, 255, 255, 0.4), 
        inset 0 0 15px rgba(0, 0, 0, 0.8);
}

.moon-light {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #f0f0f0;
    z-index: 1;
}

.moon-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    left: 0;
    top: 0;
    z-index: 2;
}

  

/* Time section */

#time-text {
    text-align: center;
    font-size: 4.25rem;
}

/* Weather section */ 

#forecast-container {
    display: flex;
    flex-direction: column;
}

.weather-period-icon {
    width: 4vw;
}

.weather-period-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-period-name {
    font-size: 1.25rem;
}

.weather-period-temperature-text {
    font-size: 1.5rem;
    font-weight: bold;
}

#weather-last-updated {
    text-align: center;
}

/* Most frequent website section */ 

.frequent-websites-section-heading {
    font-size: 1.5rem;
}

.frequent-website-list-item {
    margin: 0.75em 0;
    font-size: 1rem;
}

.frequent-website-link {
    color: white;
}

.frequent-website-link:hover {
    color: blue;
}

/* Current location input */
.current-location-section {
    margin-left: auto;
    margin-right: auto;
}


/* Responsive design */ 

@media (max-width: 768px) {
    main {
        flex-direction: column;
        height: auto;
    }

    .layout-col {
        width: 100%;
    }

    .weather-period-icon {
        width: 10vw;
    }
}