* {
    box-sizing: border-box;
}    

body {
    margin: 0;
    color: white;
    background: no-repeat center center fixed; 
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #242424;
}

main {
    padding: 1em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    display: flex;
    align-items: center;
}

#top-row {
    justify-content: space-between;
}

.weather-temp {
    font-size: 1.75rem;
}

.weather-city {
    margin-top: 0;
    font-size: 1.25rem;
    text-align: right;
}

#middle-row {
    justify-content: center;
    font-size: 2.5rem;
}

.bottom-row {
    justify-content: space-between;
}

#connect-btn {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

#author {
    font-size: 1rem;
}

#connect-btn {
    text-align: center;
}

#github {
    width: 10%;
}