* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

body {
    background: no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #242424;
}

main {
    height: 100vh;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    gap: 1%;
}



/* Layout */

.layout-col {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.left-col,
.mid-col {
    justify-content: space-between;
}

/* Title section */

.app-title {
    margin-top: 0.5em;
    font-size: 2.75rem;
}

/* Time section */

#time-text {
    text-align: center;
    font-size: 4.25rem;
}

/* Weather section */ 

.weather-heading-row {
    font-size: 1rem;
}

#forecast-container {
    display: flex;
    flex-direction: column;
}

.weather-period-icon {
    width: 4vw;
}

.weather-period-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-period-name {
    font-size: 1.25rem;
}

.weathter-period-temperature-text {
    font-size: 1.5rem;
    font-weight: bold;
}

#weather-last-updated {
    text-align: center;
}

/* Most frequent website section */ 

.frequent-websites-section-heading {
    font-family: 1rem;
}

.frequent-website-list-item {
    margin: 1.25em 0;
    font-size: 1rem;
}

.frequent-website-link {
    color: white;
}

.frequent-website-link:hover {
    color: blue;
}

/* Current location input */
.current-location-container {
    margin-left: auto;
    margin-right: auto;
}
