* {
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: 
        url("react-logo.png"),
        #9bafd9;
    background-repeat: no-repeat;
    background-position: top;
    color: #103783;
}

h1 {
    margin-top: 30px;
}

.header {
    display: flex;
    align-items: left;
    justify-content: space-between;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list-item {
    margin-left: 25px;
    font-size: 1.2rem;
}

ol li {
    margin-left: 2em;
    line-height: 1.5em;
}

a {
    color: darkblue;
}

a:hover {
    color: #0974f1;
}