html, body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 25vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("header-background-img.png");
    background-size: cover;
    background-position: center;
}

.page-title {
    font-size: 3.5rem;
}

.nav-link {
    font-style: 1.5rem;
    text-decoration: none;
}

.page-title, .nav-link {
    color: white;
    font-weight: bold;
}