* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-family: Inter;
}

.star {
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: color .5s ease-in-out;
    user-select: none;
    color: white;
}

.star.filled {
    color: orange;
}

button {
    background-color: #E5E7EB;
    color: #4B5563;
    border: 1px solid #6B7280;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    font-weight: 700;
    padding: 9px 17px;
    border-radius: 6px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

button:focus {
    outline: none;
}

button.button-sm {
    padding: 7px 11px;
    font-size: 12px;
}

button.button-lg {
    padding: 13px 25px;
}

button.button-success {
    color: #047857;
    background-color: #ECFDF5;
    border-color: #047857;
}
 
button.button-warning {
    color: #FBBF24;
    background-color: #FFFBEB;
    border-color: #FBBF24;
}
 
button.button-danger {
    color: #F87171;
    background-color: #FEF2F2;
    border-color: #F87171;
}

.menu-container {
    height: 250px;
}

.menu {
    position: relative;
    display: inline-block;
}

.menu-button {
    background-color: white;
}

.menu-dropdown {
    position: absolute;
    left: 0;
    margin-top: 3px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 6px;
    background-color: white;
}

.menu-item {
    color: #4B5563;
    padding: .75rem;
    cursor: pointer;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.menu-item:hover {
    background-color: whitesmoke;
}

.menu-item:not(:last-child) {
    border-bottom: 1px solid #6B7280;
}

.box {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    cursor: pointer;
    background-color: white;
    transition: background-color .3s ease-in-out;
}

.box.filled {
    background-color: blue;
}

.badges-row {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.badge {
    display: inline-block;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0.25em 0.75em;
}

.badge.square {
    border-radius: 0.25em
}

.badge.pill {
    border-radius: 0.75em;
}

.grey {
    background-color: #F3F4F6;
    color: #1F2937;
}

.red {
    background-color: #FEF2F2;
    color: #991B1B;
}

.yellow {
    background-color: #FEF3C7;
    color: #92400E;
}

.green {
    background-color: #D1FAE5;
    color: #065F46;
}

.blue {
    background-color: #DBEAFE;
    color: #1E40AF;
}

.indigo {
    background-color: #E0E7FF;
    color: #3730A3;
}

.purple {
    background-color: #EDE9FE;
    color: #5B21B6;
}   

.pink {
    background-color: #FCE7F3;
    color: #9D174D;
}


.banners-container {
  display: grid;
  grid-template-columns: 150px 1fr 1fr; /* label | multiline | singleline */
  grid-template-rows: auto auto auto auto auto; /* 5 rows */
  grid-template-areas:
    ". multi-line-title single-line-title"
    "success-title multi-line-success single-line-success"
    "warning-title multi-line-warning single-line-warning"
    "error-title multi-line-error single-line-error"
    "neutral-title multi-line-neutral single-line-neutral";
  gap: 1em;
  align-items: start; /* keep items aligned to top of each grid cell */
}


.multi-line-title     { grid-area: multi-line-title; }
.single-line-title    { grid-area: single-line-title; }

.success-title        { grid-area: success-title; }
.warning-title        { grid-area: warning-title; }
.error-title          { grid-area: error-title; }
.neutral-title        { grid-area: neutral-title; }

.banner.success.multi   { grid-area: multi-line-success; }
.banner.success.single  { grid-area: single-line-success; }

.banner.warning.multi   { grid-area: multi-line-warning; }
.banner.warning.single  { grid-area: single-line-warning; }


.banner.error.multi     { grid-area: multi-line-error; }
.banner.error.single   { grid-area: single-line-error; }

.banner.neutral.multi  { grid-area: multi-line-neutral; }
.banner.neutral.single { grid-area: single-line-neutral; }

.banner {
    border-radius: 0.5rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 25px auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "icon banner-title"
        ". banner-text";
    gap: 0.25rem 1rem;

}

.banner .icon {
    grid-area: icon;
}   

.banner .banner-title {
    margin: 0;
    grid-area: banner-title;
    font-weight: 700;
    font-size: 1rem;
    justify-content: left;
}

.banner .banner-text {
    grid-area: banner-text;
    margin: 0.25em 0 0 0;
}


.banner.success {
    background-color: #ECFDF5;
}
.banner.success .banner-title {
    color: #065F46;
}
.banner.success .banner-text {
    color: #047857;
}
.banner.success .icon {
    color: #34D399;
}


.banner.warning {
    background-color: #FFFBEB;
}
.banner.warning .banner-title {
    color: #92400E;
}
.banner.warning .banner-text {
    color: #B45309;
}
.banner.warning .icon {
    color: #FBBF24;
}


.banner.error {
    background-color: #FEF2F2;
}
.banner.error .banner-title {
    color: #92400E;
}
.banner.error .banner-text {
    color: #B45309;
}
.banner.error .icon {
    color: #F87171;
}

.banner.neutral {
    background-color: #EFF6FF;
}
.banner.neutral .banner-title {
    color: #1C51B9;
}
.banner.neutral .banner-text {
    color: #1E40AF;
}
.banner.neutral .icon {
    color: #60A5FA;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    gap: 1em;
    flex-wrap: wrap;
}

.card {
    margin: 3em auto 2em auto;
    padding: 2em 3em;
    background-color: #F9FAFB;
    width: 400px;
    height: 200px;
    border-radius: 0.5rem;
    position: relative;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card:hover {
  transform: translateY(-6px) scale(1.02); 
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.card-icon {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    border-radius: 0.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.testimonial {
    border-radius: 0.75em;
    margin: 2em auto;
    width: 85%;
}

.with-image {
    margin-top: 3.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2545B8;
    position: relative;
}

.testimonial-image {
    position: absolute;
    top: -2.5em;
}

.with-image .testimonial-content {
    color: white;
    padding: 35% 3em 3em 3em;
}

.without-image {
    text-align: center;
    padding: 3em;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 0.75em;
}

.logo-img {
    height: 35px;
    width: auto;
    margin-bottom: 1.25em;
}

blockquote {
    font-size: 1.25rem;
    line-height: 1.6;
    margin: 0 0 1.5em;
}

@media (min-width: 768px) {
    .with-image {
        padding: 3em;
        align-items: normal;
    }

    .testimonial-image img {
        width: 350px;
    }

    .with-image .testimonial-content {
        margin-left: 350px;
        padding: 0;
    }
}