* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-color: #F5F7FB;
  font-family: "Karla", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction-container {
  text-align: center;
}

.introduction-container > h1 {
  margin: 0;
}

.introduction-container > p {
  margin: 0.5em auto;
}

button, .conclusion-container {
  margin-top: 1.5em;
}

button {
  width: 190px;
  height: 50px;
  border-radius: 15px;
  border: none;
  background-color: #4D5B9E;
  color: #F5F7FB;
  font-size: 1rem;
}

button:hover,
button:focus {
  cursor: pointer;
  background-color: #3b4679;
}

button.disabled {
  cursor: not-allowed;
  background-color: #3b46793a;  
}


.quiz-container {
  width: 970px;
}

.question-container > h2 {
  color: #293264;
  font-size: 1rem;
}

.answers-container {
  display: flex;
  gap: 0.75em;
}

.answers-container input[type="radio"] {
  display: none;
}

.answers-container label {
  padding: 10px 20px;
  border: 1px solid #293264;
  border-radius: .5em;
}

.answers-container label:hover,
.answers-container label:focus {
  cursor: pointer;
}

.answers-container label.guessed {
  background-color: #D6DBF5;
}

.answers-container label.correct {
  background-color: #94D7A2;
}

.answers-container label.incorrect {
  background-color: #F8BCBC;
}

.conclusion-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.conclusion-container p, .conclusion-container button {
  margin: 0;
}