html,
body {
  margin: 0;
}

body {
  padding: 45px 115px;
  background-color: #23252C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.business-card-container {
  width: 315px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Inter", sans-serif;
}

/* Info section */

.info-section-container {
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 20px;
}

.person-img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.person-info-details-container {
  margin-top: 1em;
  text-align: center;
}

.person-name {
  margin: 0;
}

.job-title {
  margin: .25em;
  color: rgb(100, 152, 152)
}

.person-website-link {
  color: #4A4E74;
  font-size: 0.75rem;
}

/* Info Section buttons */

.person-info-buttons-container {
  margin-top: 1.25em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.person-info-buttons-container > button {
  width: 115px;
  height: 35px;
  font-size: .9rem;
  border-radius: 5px;
}

.person-info-buttons-container > button:hover {
  cursor: pointer;
}

.btn-light {
  background-color: white;
  border: 1px solid gray;
}

.btn-light:hover {
  background-color: rgb(221, 220, 220);
}

.btn-dark {
  background-color: #297FE5;
  border: none;
  color: white;
}

.btn-dark:hover {
  background-color: #1f5ca6;
}

.btn-icon {
  margin-right: 0.5em;
}

/* Topic sections */

.topic-section-container {
  background-color: white;
  padding-left: 35px;
  padding-right: 35px;
}

.topic-section-title {
  font-size: 1rem;
  margin-top: .25em;
  margin-bottom: 0.25em;
}

.topic-section-content {
  margin-top: 0;
  font-size: .75rem;
  line-height: 1.5;
}

.topic-section-container:last-of-type {
  padding-bottom: 1.5em;
}

/* Footer */

footer {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #D5D4D8;
}

.socials-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.5em;
}

.social-icon {
  color: #918E9B;
  font-size: 2rem;
}

.social-icon:hover {
  color: #6f6c76;
}